<style>

	
	.outer_container
	{
		margin:10px;
	}
	
	
<<<<<<< HEAD
	.drop { width:150px; }
	.drops { width:150px; }
	#jobDrop { width:150px; }
	
		#firstDrop , #secDrop{
	    border: 1px solid #D1D3D5;
	    border-radius: 2px 2px 2px 2px;
	    color: #6A747C;
	    font-family: 'Questrial', sans-serif;
	    font-size: 15px;
	    padding: 10px;
	}
=======
	.drop { width:250px; }
	.drops { width:250px; }
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
</style>

<style>
	table.serifa{font-family:Arial,Helvetica,sans-serif;}
</style>

<<<<<<< HEAD
=======
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318



<script>
	$(document).ready(function(){
		$("#mydiv").hide();
		$("#btn").hide();
		
		$('.drop').change(function() 
		{
			$.ajax({ 
				  type: 'GET', 
				  url: '/jobseeker/popSecond', 
				  data: {'id' : $('.drop').val()},
				  success: function(data) 
				  {
<<<<<<< HEAD
						   $('.drops').empty();
						   $('.drops').append( $('<option value= "">Select Speciality</option>'));						   
						   $.each(data,function(i, v) {
						   $('.drops').append( $('<option value="'+ data[i][0] +'">'+data[i][1] +'</option>'));
=======
						   $('#secDrop').empty();
						   $('#secDrop').append( $('<option value= "">Select Speciality</option>'));						   
						   $.each(data,function(i, v) {
						   $('#secDrop').append( $('<option value="'+ data[i][0] +'">'+data[i][1] +'</option>'));
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
						 });
				  } 
			  });
		});
	});	
</script>

<script>
	$(document).ready(function(){

		$('.drops').change(function() 
		{
			$.ajax({ 
				  type: 'GET', 
				  url: '/jobseeker/PopThird', 
				  data: {'id' : $('.drops').val()},
				  success: function(data) 
				  {
						   $('#txt').empty();	
						   $('#txt').append('click checkbox to add your Skill');
						   $('.my').empty();
						   $.each(data,function(i, v) {
						   $('.my').append( $('<div><span>-</span><input type="checkbox" name="skill[]" class = "boox" value="'+ data[i][0] +'" /><span >'+data[i][1] +'</span></div>'));
						   $("#btn").show();
						 });
				  } 
			  });
		});
	});	
</script>

<script>
$(document).ready( function() {
<<<<<<< HEAD
   $('.downdownbox').change( function() {
	  var jobID  =  $('.downdownbox').val();
=======
   $('.jobDrop').change( function() {
	  var jobID  =  $('.jobDrop').val();
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
      location.href = '/home/availableCandidate?jobID='+jobID;
      
   });
});
</script>

<div class = "textfont">
	<div class="outer_container">
		<div class = "textfont" style="width:60%;float:left;">
			<div style="width:100%;">
				<table  width="500px">
					<tr>
						<td>
							Search by Skills
						</td>
					</tr>
					<tr>
						<td width="200px">
<<<<<<< HEAD
							Select Category
						</td>
						<td width="300px">
						
							<%= select_tag "sel_group", options_for_select(@skill) ,{:id => "firstDrop" ,:class => "drop"} %>
=======
							please select your category
						</td>
						<td width="300px">
						
							<%= select_tag "sel_group", options_for_select(@skill) ,{:class => "drop"} %>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
						</td>
					</tr>
					<tr>
						<td width="200px">
<<<<<<< HEAD
							Select Specialty
=======
							please select your Speciality
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
						</td>
						<td width="300px">
						
							<%= select_tag "sel_group1", options_for_select(@subskill), {:id => "secDrop" , :class => "drops"} %>
						</td>
					</tr>		
				</table>
			</div>
			<div style="width:100%;">
<<<<<<< HEAD
				<span id ="txt"></span>
				<div class="my" style="align:center; width:60%;"></div>
				<div id = "btn"><input type = "submit" value = "Search"  name ="search"></div>	
			</div>	
		</div>
		
		<div STYLE="margin-left: 40%">
			<div style="width:100%;">
				<table  width="500px">
=======
					<span id ="txt"></span>
					<div class="my" style="align:center; width:60%;"></div>
			</div>	<div id = "btn"><input type = "submit" value = "Search" class="buttonStyle" name ="search"></div>	
		</div>
		
		<div STYLE="margin-left: 60%">
			<div style="width:100%;">
				<table>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
					<tr>
						<td>
							Search by Jobs
						</td>
					</tr>
					<tr>
						<td width="200px">
<<<<<<< HEAD
							Select Job
						</td>
						<td width="300px">
							<%= select_tag "jobID", options_for_select(@jobs) ,{:id => "jobDrop" , :class => "downdownbox"} %>
						</td>
					</tr>
=======
							please select your Job
						</td>
						<td width="300px">
							<%= select_tag "jobID", options_for_select(@jobs) ,{:class => "jobDrop"} %>
						</td>
					</tr>
					
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
				</table>
			</div>		
		</div>	
	</div>	
</div>
