<<<<<<< HEAD

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script>
		$(function() {
		$( "input[type=submit] , button" )
		.button()
		.click(function( event ) {
			});
		});
	</script>
	<title>Employer</title>
</head>

<body>

<!-- MAIN CONTENT -->
<div id="wrapContent" class="clearfix">

<!-- BREADCRUMBS -->
<div id="wrapBreadcrumbs" class="clearfix">
	<div id="breadcrumbs">
		<ul>
			<li><a href='/home/homePage'>Home &raquo;</a></li>
			<li><a href='/home/availableCandidate?jobID=<%=@jobID %>'>Review Candidate</a></li> <!-- Omit the &raquo; on the last <li> item in order to hide the arrows -->
		</ul>
	</div>
</div>
<!-- END BREADCRUMBS -->

<!-- LEFT COLUMN -->
<div id="leftCol" class="clearfix">

	<!-- BUTTONS -->
	<div id="buttonMenu">
		<ul>
			<li><a href='/home/dashBoard'>Dashboard &raquo;</a></li> 
			<li><a href='/home/companyUserList'>Users &raquo;</a></li> 
			<li><a href='/home/jobPostingNew'>Post Jobs &raquo;</a></li> 
			<li><a href='/home/candidateSearch'>Search Candidates &raquo;</a></li>
		</ul>
	</div>
	<!-- END BUTTONS -->

</div>
<!-- END LEFT COLUMN -->

<!-- RIGHT COLUMN -->
<div id="rightCol" class="clearfix">
	<!-- Insert jQuery tabs here if applicable -->
	<div class="content">
		<table width="100%">
			<tbody>
				<tr>
					<td>
						<%= form_tag(:action => "candidateComparison") do  %>	
							<%= render 'formAvailableCandidate' %>
						<%end%>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- END RIGHT COLUMN -->

</div>
<!-- END MAIN CONTENT -->

</body>
</html>


=======
<title>Employer</title>
<div id="container" style="width:100%">
	<div id="header" style="height:50px;margin-left: 3%;margin-top: 1.5%;">
		<%= link_to image_tag('/images/logo.jpg') , url_for({:controller => 'home', :action => 'homePage'}) %> 
	</div>
	<div id="menu" style="height:700px;width: 200px;float:left;">
		<br>
		<%= link_to "Dashboard" , url_for({:controller => 'home', :action => 'dashBoard'}), {:class => "linkStyle"} %><br><br>
		<%= link_to "Users" , url_for({:controller => 'home', :action => 'companyUserList'}), {:class => "linkStyle"} %><br><br>
		<%= link_to "Post Jobs" , url_for({:controller => 'home', :action => 'jobPostingNew'}), {:class => "linkStyle"} %><br><br>
		<%= link_to "Search Candidates" , url_for({:controller => 'home', :action => 'candidateSearch'}), {:class => "linkStyle"} %><br><br>
		
	</div>
	<table width="70%" border="0" cellpadding="0" cellspacing="0" align ="center" >
		<tr>
			<td align ="right">Welcome <%= session[:empfirst] %> <%= session[:emplast] %><%= link_to "Signout" , url_for({:controller => 'home', :action => 'signout'}), {:class => "signout"} %></td>
		</tr>
			<tr>
				<td><div class ="fontHeading " align = "center"><h1>Available Candidates</h1></div></td>
			</tr>

			
			<tr>
				<td>
					<%= form_tag(:action => "candidateComparison") do  %>	
						<%= render 'formAvailableCandidate' %>
					<%end%>
				</td>
			</tr>
		</table>
	</div>	
</div>			
			
				 
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
