<<<<<<< HEAD
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Employee</title>
<script>
	$(function() {
	$( "input[type=submit] , button" )
	.button()
	.click(function( event ) {
		});
	});
</script>
=======
<title>Employer</title>
<%= csrf_meta_tag %> 
<link rel="stylesheet" type="text/css" href="/assets/javascripts/jquery.tagsinput.css" />
<script type="text/javascript" src="/assets/javascripts//jquery.min.js"></script>
<script type="text/javascript" src="/assets/javascripts/jquery.tagsinput.js"></script>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318

<script>
	function validatePrior(value)		  
		{	
			var jobID 		 	 = 		document.getElementById("jobID");
			var jobIDVal 		 = 		jobID.value;
			var reg = /^\d+$/;
			var priority 		 = 		document.getElementById("prior_"+value);
			var priorityVal		 = 		priority.value;
			if(priorityVal.match(reg))
			{
				if(priorityVal >0 && priorityVal < 11)
				{
					$.ajax({ 
							  type: 'GET', 
							  url: '/home/skillRatingPriorityVal', 
							  data: {'priorityVal' : priorityVal, 'skill' : value, 'jobID' : jobIDVal},
							  success: function(data) 
							  {
							  } 
						  });
				}
				else
				{
					alert("Priority entered not between 1 to 10");
					return false;
				}
			} 
			else
			{
				alert("Please enter an integer value");
				return false;
			} 
		}
</script>	

<script>
	function validateRank(value)		  
		{	
			var jobID 		 	 = 		document.getElementById("jobID");
			var jobIDVal 		 = 		jobID.value;
			var reg = /^\d+$/;
			var rank 		 	 = 		document.getElementById("rank_"+value);
			var rankVal 		 = 		rank.value;
			if(rankVal.match(reg))
			{
				if(rankVal >0 && rankVal < 11)
				{
					$.ajax({ 
							  type: 'GET', 
							  url: '/home/skillRatingRankVal', 
							  data: {'rankVal' : rankVal, 'skill' : value, 'jobID' : jobIDVal},
							  success: function(data) 
							  {
							  } 
						  });
				}
				else
				{
					alert("Rank entered not between 1 to 10");
					return false;
				}
			} 
			else
			{
				alert("Please enter an integer value");
				return false;
			} 
		}
</script>	
<<<<<<< HEAD

<script>
	function validateDesOrPri(val)		  
		{	
			var jobID 		 	 = 		document.getElementById("jobID");
			var jobIDVal 		 = 		jobID.value;
			var value = $("#drp_"+val).val()
			$.ajax({ 
					  type: 'GET', 
					  url: '/home/desiredOrRequired', 
					  data: {'id' : value, 'skill' : val, 'jobID' : jobIDVal},
					  success: function(data) 
					  {
					  } 
				  });
		}
</script>

=======
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
<script type="text/javascript">
	$(function() {

		$('#tags_1').tagsInput();
		// Uncomment this line to see the callback functions in action
		//			$('input.tags').tagsInput({onAddTag:onAddTag,onRemoveTag:onRemoveTag,onChange: onChangeTag});		

		// Uncomment this line to see an input with no interface for adding new tags.
		//			$('input.tags').tagsInput({interactive:false});
		});
</script>
<<<<<<< HEAD
</head>

<body>

<!-- MAIN CONTENT -->
<div id="wrapContent" class="clearfix" style="width: 1237px">

<!-- BREADCRUMBS -->
<div id="wrapBreadcrumbs" class="clearfix">
	<div id="breadcrumbs">
		<ul>
			<li><a href='/home/homePage'>Home &raquo;</a></li>
			<li><a href='/home/dashBoard'>Dashboard</a></li> <!-- Omit the &raquo; on the last <li> item in order to hide the arrows -->
		</ul>
	</div>
</div>
<!-- END BREADCRUMBS -->

<!-- LEFT COLUMN -->
<div id="leftCol" class="clearfix">

	<!-- BUTTONS -->
	<div id="buttonMenu">
		<ul>
			<li><a href='/home/dashBoard'>Dashboard &raquo;</a></li> 
			<li><a href='/home/companyUserList'>Users &raquo;</a></li> 
			<li><a href='/home/jobPostingNew'>Post Jobs &raquo;</a></li> 
			<li><a href='/home/candidateSearch'>Search Candidates &raquo;</a></li>
		</ul>
	</div>
	<!-- END BUTTONS -->

</div>
<!-- END LEFT COLUMN -->

<!-- RIGHT COLUMN -->
<div id="rightCol" class="clearfix">
	<!-- Insert jQuery tabs here if applicable -->
	<div class="content">
		<table width="100%">
			<tbody>
=======

<title>Employer</title>
<div id="container" style="width:100%">
	<div id="header" style="height:50px;margin-left: 3%;margin-top: 1.5%;">
		<%= link_to image_tag('/images/logo.jpg') , url_for({:controller => 'home', :action => 'homePage'}) %> 
	</div>
	<div id="menu" style="height:700px;width: 200px;float:left;">
		<br>
		<%= link_to "Dashboard" , url_for({:controller => 'home', :action => 'dashBoard'}), {:class => "linkStyle"} %><br><br>
		<%= link_to "Users" , url_for({:controller => 'home', :action => 'companyUserList'}), {:class => "linkStyle"} %><br><br>
		<%= link_to "Post Jobs" , url_for({:controller => 'home', :action => 'jobPostingNew'}), {:class => "linkStyle"} %><br><br>
		<%= link_to "Search Candidates" , url_for({:controller => 'home', :action => 'candidateSearch'}), {:class => "linkStyle"} %><br><br>
		
	</div>
	<table width="70%" border="0" cellpadding="0" cellspacing="0" align ="center" >
		<tr>
			<td align ="right">Welcome <%= session[:empfirst] %> <%= session[:emplast] %><%= link_to "Signout" , url_for({:controller => 'home', :action => 'signout'}), {:class => "signout"} %></td>
		</tr>

				<tr>
					<td><div class ="fontHeading " align = "center"><h1>Rank Job Skills</h1></div></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>

				<tr>
					<td>&nbsp;</td>
				</tr>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
				<tr>
					<td>
						<form name="tripleplay" action="rankJobDone" method="post">
							<%= render 'formRankJob' %>
						</form>
					</td>
				</tr>
<<<<<<< HEAD
			</tbody>
		</table>
	</div>
</div>
<!-- END RIGHT COLUMN -->

</div>
<!-- END MAIN CONTENT -->

</body>
</html>
=======
			</table>
		</div>	
	</div>	
</div>	
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
